.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    p{
        font-size: 1.9em;
        color: var(--white);
    }
}

.containerHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px 0;

    button{
        border: none;
        background-color: transparent;
    }

    svg{
        margin: 0 10px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.listOrders{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.listItem{
    margin: 10px 0;
    border-radius: 6px 0 0 6px;
    width: 60%;
    height: 50px;
    background-color: var(--dark-900);

    button{
        width: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        border: none;
        color: var(--white);
    }

    span{
        margin-left: 10px;
    }

}

.listItem:hover{
    transition: all 1s;
    transform: scale(1.02);
}

.tag{
    background-color: var(--green-900);
    width: 9px;
    height: 50px;
    border-radius: 6px 0 0 6px;
}

.emptyList{
   font-size: 1.2rem;
   color: var(--gray-100); 
}