.button{
    max-width: 600px;
    background-color: var(--red-900);
    color: var(--white);
    border: none;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition: all 1s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 1.5s infinite;
        }
    }

    &:hover{
        filter: brightness(1.58);
    }

}

.buttonText{
    color: var(--white);    
}

@keyframes animate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}